.form{
    height: 93vh;
    background-image: url("https://res.cloudinary.com/dpep8a1or/image/upload/v1757950121/user-background-image_lu2vge.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.from-heading{
    color: white;
}
.input{
    height: 35px;
    width: 350px;
    border-radius: 8px;
    padding-left:20px ;
}
.button{
    background-color: rgb(90, 169, 235);
    color: white;
    height: 45px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    border: 0px;
    border-radius: 7px;
}